* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "VT323", monospace;
    background: #7de47f;
}

nav {
    background: #ffffff;
    height: 10vh;
    display: flex;
    justify-content: center;
    .headerTitle {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 18%;
    }
}

.navList {
    height: 10vh;
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.page1Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 20px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 10px;
            padding: 0px;
            h1 {
                margin: 0;
                font-size: 25px;
                width: 30vw;
            }
            p {
                width: 30vw;
                height: auto;
            }
        }

        #contentAImage {
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
        }
    }

    .contentB {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: auto;
        margin-right: 1vw;
        margin-left: auto;

        #contentBText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 10px;
            padding: 0px;
            h1 {
                margin: 0;
                font-size: 25px;
                width: 30vw;
            }
            p {
                width: 30vw;
                height: auto;
            }
        }
    }
}

.page2Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
        background: rgba(0, 0, 0, 0.663);
    }
    p {
        font-size: 23px;
        background: rgba(0, 0, 0, 0.663);
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
        height: auto;

        
        .contentAImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
            p {
                text-align: center;
                width: 70%;
            }
            .pageImage2 {
                width: 30vw;
                height: auto;
                margin: 30px;
                margin-right: 0px;
                padding-right: 30px;
            }
        }

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            margin: 10px;
            padding: 0px;
            h1 {
                margin: 0;
                font-size: 30px;
                width: 30vw;
            }
            p {
                width: 30vw;
                height: auto;
                font-size: 24px;
            }
        }
    }

}

.page3Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 23px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
        height: auto;

        
        .contentAImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 0px;
                padding-bottom: 50px;
            }
            h1 {
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            p {
                text-align: center;
                width: 70%;
            }
            .pageImage2 {
                width: 20vw;
                height: auto;
                margin: 30px;
                margin-top: 5vh;
                margin-right: 0px;
                padding-right: 30px;
            }
        }

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            margin: 30px;
            padding: 0px;
            p {
                width: 30vw;
                height: auto;
                font-size: 24px;
            }
        }
    }

}

.page4Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
        margin-top: 0px;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
        height: auto;

        
        .contentAImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
            h1 {
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            p {
                text-align: center;
                width: 70%;
            }
            .pageImage2 {
                display: flex;
                flex-direction: column;
                width: 20vw;
                height: auto;
                margin: 30px;
                margin-top: 10vh;
                margin-right: 0px;
                padding-right: 30px;
            }
        }

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            margin: 30px;
            padding: 0px;

            h1 {
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
                margin-left: 0px;
            }
            p {
                width: 30vw;
                height: auto;
                font-size: 24px;
            }
        }
    }

}

.page5Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
        margin-top: 0px;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
        height: auto;

        
        .contentAImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
            h1 {
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            p {
                text-align: center;
                width: 70%;
            }
            .pageImage2 {
                display: flex;
                flex-direction: column;
                width: 25vw;
                height: auto;
                margin: 20px;
                margin-top: 10vh;
                margin-right: 0px;
                padding-right: 30px;
            }
        }

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            margin: 30px;
            padding: 0px;

            h1 {
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
                margin-left: 0px;
            }
            p {
                width: 30vw;
                height: auto;
                font-size: 24px;
            }
        }
    }
}

.page6Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
        margin-top: 0px;
    }
    h1 {
        background: rgba(255, 255, 255, 0.898);
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        background: rgb(255, 255, 255, 0.898);
        font-size: 23px;
        margin-bottom: 20px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;
        height: auto;

        
        .contentAImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
            h1 {
                padding: 5px;
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            p {
                padding: 5px;
                text-align: center;
                width: 70%;
            }
            .pageImage2 {
                display: flex;
                flex-direction: column;
                width: 25vw;
                height: auto;
                margin: 20px;
                margin-top: 10vh;
                margin-right: 0px;
                padding-right: 30px;
            }
        }

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            text-align: center;
            margin: 30px;
            padding: 0px;

            h1 {
                padding: 5px;
                margin: 10;
                font-size: 50px;
                width: 30vw;
                text-align: center;
            }
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
                margin-left: 0px;
            }
            p {
                padding: 5px;
                width: 30vw;
                height: auto;
                font-size: 24px;
            }
        }
    }
}

.page1 {
    background: black;
    color: white;
    height: auto;
    width: 100%;
}

.page2 {
    background: #909090;
    background-image: url('../images/jamesImages/FalloutFace.png');
    background-size: 300px;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
}

.page3 {
    background: #ffd6ff;
    color: black;
}

.page4 {
    background: #d7fee5;
    background-image: url('../images/nikhilImages/Matrix-664.jpg');
    background-size: 300px;
    background-repeat: repeat;
    color: rgb(0, 0, 0);
}

.page5 {
    background: rgba(20,41,12,255);
    background-image: url('../images/nikhilImages/Silvia_A_Ferreira-Humanstemcell.jpg');
    background-size: 300px;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
}

.page6 {
    background: black;
    background-image: url('../images/nikhilImages/Matrix-669.jpg');
    background-size: 300px;
    background-repeat: repeat;
    color: rgb(0, 0, 0);
}