* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "VT323", monospace;
}

nav {
    background: rgb(158, 255, 154);
}

.navList {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.page1,
.page2 {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.page1Content,
.page2Content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 20px;
    }
}

.page1 {
    background: black;
    color: white;
}

.page2 {
    background: grey;
    color: black;
}
