* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "VT323", monospace;
    background: #7de47f;
}

nav {
    background: #7de47f;
    height: 10vh;
    display: flex;
    justify-content: center;
    .headerTitle {
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 18%;
    }
}

.navList {
    height: 10vh;
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.page1,
.page2 {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.page1Content,
.page2Content {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
        height: 50%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 20px;
    }
    .contentA {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        width: auto;

        #contentAText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 10px;
            padding: 0px;
            h1 {
                margin: 0;
                font-size: 25px;
                width: 30vw;
            }
            p {
                width: 30vw;
                height: auto;
            }
        }

        #contentAImage {
            .pageImage {
                width: 30vw;
                height: auto;
                margin: 25px;
            }
        }
    }

    .contentB {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: auto;
        margin-right: 1vw;
        margin-left: auto;

        #contentBText {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 10px;
            padding: 0px;
            h1 {
                margin: 0;
                font-size: 25px;
                width: 30vw;
            }
            p {
                width: 30vw;
                height: auto;
            }
        }
    }
}

.page1 {
    background: black;
    color: white;
    height: auto;
    width: 100%;
}

.page2 {
    background: grey;
    color: black;
}
